<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="group1.com.casper_android_client">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="CASP.ER"
        android:supportsRtl="true">
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:parentActivityName=".SplashScreenActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name=".MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoggedInActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoggedInActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".LoggedInActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoggedInActivity" />
        </activity>
        <activity
            android:name=".VideoStreamActivity"
            android:parentActivityName=".LoggedInActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".VideoStreamActivity" />
        </activity>
    </application>

</manifest>
